/*seccion planes*/

/*Mod */
#bg-planes-incluyen{
    border: 2px solid black;
    background-image: url('/img/rain-day.jpg');

}


#carousel-beneficios{
    border: 2px solid black;
}

.planes{
    text-align: center;
}
span{
    color: black;
}


.mr-1{
    width: 20px !important;
    height: 20px !important;
}

.mr-2{
    width: 20px !important;
    height: 20px !important;
}

.mr-3{
    width: 20px !important;
    height: 20px !important;
}

/**/